<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel ="stylesheet" href="/css/style.css">

<body>
	<div>
		<div>
			<center><h1>User Registration - Sign Up</h1></center>
		</div>
		<center><form th:action="@{/register}" th:object="${user}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div>
			<div th:if="${#fields.hasGlobalErrors()}">
					<p class ="errori" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
			</div>	
			<div>
				<label>Username: </label>
				<div>
					<input type="text" th:field="*{username}" id="username" placeholder="username">
					<div  class = "errori" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
				</div>
			</div>
			
			<div>
				<label>Password: </label>
				<div>
					<input type="password" th:field="*{password}" id="password" placeholder="password">
					<div  class = "errori" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
				</div>
			</div>
			
			<div>	
				<label >Nome: </label>
				<div>
					<input type="text" th:field="*{nome}" id="nome" placeholder="nome"/>
					<div  class = "errori" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
			</div>
			
			<div>
				<label>Cognome: </label>
				<div>
					<input type="text" th:field="*{cognome}" id="cognome" placeholder="cognome"/>
					<div  class = "errori" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
				</div>
			</div>
			<div>
				<a th:href = "@{'/'}">Annulla</a> 
			</div>			
			
			<div>
				<button type="submit">Sign Up</button> 
			</div>
		</div>
		</form></center>
	</div>
</body>
</html>
