<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel ="stylesheet" href="/css/style.css">
  <head>
    <title> Aggiorna un Buffet</title>
  </head>
  <body>
  	<center><form th:action="@{'/buffet/edit/edit/' + ${buffet.id}}" th:object="${buffet}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p class ="errori" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
			</div>	
			<div>
				<label>Nome: </label>
				<div>
					<input type="text" th:field="*{nomeBuffet}" id="nome" placeholder="nome">
					<div  class = "errori" th:if="${#fields.hasErrors('nomeBuffet')}" th:errors="*{nomeBuffet}"></div>
				</div>
			</div>
			
			<div>	
				<label >Descrizione: </label>
				<div>
					<input type="text" th:field="*{descrizione}" id="descrizione" placeholder="descrizione"/>
					<div  class = "errori" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
				</div>
			</div>
			<div>
				<a th:href = "@{'/buffet/' + ${buffet.id}}">Annulla</a> 
			</div>
			</div>
				<button type="submit">Aggiorna Buffet</button> 
			</div>
		</div>
		</form></center>
  </body>
</html>
