<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title> Inserisci un nuovo Chef</title>
  </head>
  <body>
  	<center><form th:action="@{/chef/add/}" th:object="${chef}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p class ="errori" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
			</div>	
			<div>
				<label>Nome: </label>
				<div>
					<input type="text" th:field="*{nomeChef}" id="nome" placeholder="nome">
				</div>
			</div>
			
			<div>	
				<label >Cognome: </label>
				<div>
					<input type="text" th:field="*{cognomeChef}" id="cognome" placeholder="cognome"/>
				</div>
			</div>
			
			<div>	
				<label >Nazionalita: </label>
				<div>
					<input type="text" th:field="*{nazionalita}" id="nazionalita" placeholder="nazionalita"/>
				</div>
			</div>
				<button type="submit">Aggiungi Chef</button> 
		</div>
		</form></center>
		<div>
			<h3> vuoi caricare una foto di presentazione?</h3>
			          <a th:href = "@{'/chef/caricaImmagine/'}"> Carica</a>
		</div>
  </body>
</html>
