<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel ="stylesheet" href="/css/style.css">
  <head>
    <title> Inserisci un nuovo Ingrediente</title>
  </head>
  <body>
  	<center><form th:action="@{/ingrediente/add/}" th:object="${ingrediente}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p class ="errori" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
			</div>	
			<div>
				<label>Nome: </label>
				<div>
					<input type="text" th:field="*{nome}" id="nome" placeholder="nome">
					<div  class = "errori" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
			</div>
			
			<div>	
				<label >Origine: </label>
				<div>
					<input type="text" th:field="*{origine}" id="origine" placeholder="origine"/>
					<div  class = "errori" th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
				</div>
			</div>
			
			<div>	
				<label >Descrizione: </label>
				<div>
					<input type="text" th:field="*{descrizione}" id="descrizione" placeholder="descrizione"/>
					<div  class = "errori" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
				</div>
			<div>
				<a th:href = "@{'/'}">Annulla</a> 
			</div>				
			</div>
				<button type="submit">Aggiungi Ingrediente</button> 
		</div>
		</form></center>
		<div>
			<h3> vuoi caricare una foto di presentazione?</h3>
			          <a th:href = "@{'/ingrediente/caricaImmagine/'}"> Carica</a>
		</div>
  </body>
</html>
