<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel ="stylesheet" href="/css/style.css">
  <head>
    <title>Ingredienti</title>
  </head>
  <body>
	  <h1> Lista di tutti gli Ingredienti: </h1>
	  <div  th:each="ingrediente : ${ingredienti}">
	          <div id ="es">
	            <h5 th:text = "${ingrediente.nome}"> Nome dell ingrediente</h5>
	            <a th:href = "@{'/ingrediente/' + ${ingrediente.id}}" >  
	            	<img th:src ="${ingrediente.immagine}" width="180" height="180">
	            </a>
	            <a  sec:authorize="hasAuthority('admin')"  th:href = "@{'/ingrediente/delete/' + ${ingrediente.id}}">Cancella Ingrediente</a>
	          </div>
	  </div>
	  <footer>
	    <span><p>
	  	  <a th:href = "@{'/'}">Torna alla Homepage</a>
	  	  <a  sec:authorize="hasAuthority('admin')"  th:href = "@{'/ingrediente/add/'}">Inserisci un altro Ingrediente</a>
	  	  </p></span>
	  </footer> 
  </body>
</html>
