<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel ="stylesheet" href="/css/style.css">

	<head>
		<title> Scelta Edit Piatto </title>
	</head>

	<body>
		<center>
			<h1> cosa vuoi modificare?</h1>
		  	<a th:href = "@{'/piatto/edit/caricaImmagine/' + ${piatto.id}}"> L immagine del Piatto</a>
		  	<a th:href = "@{'/piatto/edit/edit/'+ ${piatto.id}} "> Le informazioni del Piatto</a>
		  	<a th:href = "@{'/piatto/add/buffet/' + ${piatto.id}} "> Modifica Buffet</a>
	  	</center>
  
	</body>
</html>