<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel ="stylesheet" href="/css/style.css">
  <head>
    <title>Piatti</title>
  </head>
  <body>
	  <h1> Lista di tutti i Piatti: </h1>
	  <div  th:each="piatto : ${piatti}">
	  	<div id ="es">
	  		<h5 th:text = "${piatto.nomePiatto}"> Nome del Piatto</h5>
	        <h5 th:text = "${piatto.descrizione}"> Descrizione del Piatto</h5>
	        <a th:href = "@{'/piatto/' + ${piatto.id}}" >
	        	<img th:src ="${piatto.immagine}" width="180" height="180">
	        </a>
	        <a  sec:authorize="hasAuthority('admin')"  th:href = "@{'/piatto/delete/' + ${piatto.id}}">Cancella Piatto</a>
	    </div>
	  </div>
	  <footer>
		  <span>
		  	<p>
		  		<a th:href = "@{'/'}">Torna alla Homepage</a>
		  		<a  sec:authorize="hasAuthority('admin')"  th:href = "@{'/piatto/add/'}">Inserisci un altro Piatto</a>
		  	</p>
		  </span>
	  </footer> 
  </body>
</html>
